.body{
	position: relative;
}

/*头部*/
.header-bg{
	background-color: #009688;
}
.header{
	width: 1000px;
	height: 60px;
	line-height: 60px;	
	margin: 0 auto;
}
.logo{
	display: inline-block;
}
.logo span{
	font-size: 26px;
	font-weight: 800;
	color: white;
}

/*内容*/
.main-left{
    margin-top: 10px;
}
.leftBorder{
    display: inline-block;
    border: 4px solid #009688;
    padding-bottom: 150px;
    
    margin-top: 10px;

    margin-bottom: 400px;

}
.leftBorder .main-left{
	margin-top:0;
	padding-bottom: 0;
}
.layui-breadcrumb{
	visibility: visible;
    display: inline-block;
    background-color: #009688;
    width: 100%;
    margin-bottom: 50px;
    padding: 5px 0 0;
}
.layui-breadcrumb a{
	display: inline-block;
}
.layui-breadcrumb a cite{
	color: white !important;
	cursor: default;
	overflow: hidden;
	display: inline-block;
}
.layui-breadcrumb a:nth-child(1){
	margin-left: 20px;
}
#artTitle{	
    max-width: 380px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



#mod_focus_pic div{
	display: inline-block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.listDiv{
    /*background-image: url('../img/book/15162057641.jpg');*/
    display: inline-block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}